.ul_one{
  display: table;
  margin: 0 auto;
}
ul{
  margin-top: 0;
  margin-bottom: 0;
  line-space: 0;
}
.center_text {
  text-align: center;
}
.center_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a{
  color: #7eb6ff;
}
body {
  font-size: 24px;
  color: white;
  background-image: 
    url(
      'https://cdn.glitch.com/a9d01c33-f0b0-4df0-b81a-eca5c4861df7%2Ff30d8d63af8c1175c87e7234b20c7c3cd34eb705_s2_n0.jpg?v=1594743004353'
    );
}
